* {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    position: absolute;
    margin-left: 300px;
    margin-top: 50px;
    padding: 5px;
}

.top h1 {
    font-size: 60px;
}
.top p {
    font-size: 35px;
    margin-left: 80px;
}

body {
    padding-top: 50px;
    background: url(https://michaeldarmanov.github.io/survey_form/img/cube1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#survey-form {
    background-color: rgba(255, 255, 255, 0.708);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 50px, rgba(0, 0, 0, 0.1) 0px 0px 50px;
    max-width: 800px;
    width: 425px;
    height: 700px;
    padding: 20px;
    margin-left: 1350px;
    margin-top: 80px;
    opacity: 90%;
    border-radius: 10px;
    position: absolute;
}

#button {
    background-color: rgba(28, 167, 15, 0.276);
    font-weight: bolder;
    height: 30px;
    width: 200px;
    position: center;
    margin-left: 90px;
}
